// 1. Include functions first (so you can manipulate colors, SVGs, calc, etc)
@import "../node_modules/bootstrap/scss/functions";

// 2. Include any default variable overrides here
$link-decoration: none;

// 3. Include remainder of required Bootstrap stylesheets
@import "../node_modules/bootstrap/scss/variables";
@import "../node_modules/bootstrap/scss/variables-dark";

// 4. Include any default map overrides here
$custom-colors: (
	"lysebrun": #E0CEB4,
	"morkebrun": #452D20,
	"lysebla": #C7E0ED,
	"morkebla": #1F375E,
	"gron": #586c52,
);

$theme-colors: map-merge($theme-colors, $custom-colors);

@import "bootstrapComponents";

// 5. Du kan lave styling her...

.backBtn {
	padding-left: 65px;
	padding-top: 70px;
}

.logoIndex {
	padding-left: 100px;
	padding-top: 65px;
}

.timeIndex {
	font-size: 90px;
	font-family: "ardoise-narrow-std", sans-serif;
	font-weight: 400;
	font-style: normal;
	color: #452D20;
	padding-top: 50px;
	padding-left: 100px;
}

.overskrift {
	font-family: "ardoise-narrow-std", sans-serif;
	font-weight: 400;
	font-style: normal;
	color: #452d20;
	font-size: 500%;
	padding-top: 70px;
}

.underskrift {
	font-family: "ardoise-narrow-std", sans-serif;
	font-weight: 400;
	font-style: normal;
	color: #452d20;
	font-size: 300%;
}

.containerCards {
	margin-top: 100px;
}

.card-index {
	margin: 30px;
	width: 450px;
	height:450px;
	border: none;
	background-color: #e0ceb4;
}

.card-tekst {
	align-self: center;
	font-size: 300%;
	color: #452d20 !important;
}

.card-btn {
	font-size: 100%;
	color: #e0ceb4;
	min-width: 85%;
}

.card-img-overlay {
	font-family: "blanket", sans-serif;
	font-weight: 700;
	font-style: normal;
	font-size: 150%;
	align-self: center;
	justify-self: center;
}

.text-bg-lysebrun {
	background-color: rgb(224, 206, 180, 0.8) !important;
	padding: 7px 20px 7px 20px;
	border-radius: 10px;
}

#myVideo {
	position: static;
	width: 100.3%;
	height: 100%;
	margin-top: 20px;
	z-index: -5;
}

.timeForside {
	font-size: 90px;
	font-family: "ardoise-narrow-std", sans-serif;
	font-weight: 400;
	font-style: normal;
	margin: 0;
	background-color: #1F375E;
	color: #C7E0ED;
}

.timeBox {
	border-radius: 0 0 0 20px;
}

.textOplev {
	font-size: 80px;
	font-family: "ardoise-narrow-std", sans-serif;
	font-weight: 400;
	font-style: normal;
	color: #C7E0ED;
	margin-top: 300px;
}

.boxOplev {
	background-color: rgba(31, 55, 94, 0.7) !important;
	color: #C7E0ED;
	padding: 1px 50px 1px 50px;
	margin-left: 60px;
	border-radius: 10px;
}

.trykBtn {
	font-size: 650%;
	font-family: "ardoise-narrow-std", sans-serif;
	font-weight: 400;
	font-style: normal;
	border-width: 10px;
	border-color: #C7E0ED;
	border-style: solid;
	border-radius: 25px;
}

.containerTrykBtn {
	z-index: 3;
	margin-top: 1100px;
	margin-left: 265px;
}

.trykText {
	padding: 40px 125px 40px 125px;
}

.logoForside {
	z-index: 2;
}

.vejr{
	height: 200px;
	width: 450px;
	margin-top: 1450px;
	margin-left: 340px;
	font-size: 400%;
	font-family: "ardoise-narrow-std", sans-serif;
	font-weight: 400;
	font-style: normal;
	background-color: rgba(199, 224, 237, 0.7) !important;
	color: #1F375E;
	z-index: 4;
}

.btnKategorier {
	font-family: "blanket", sans-serif;
	font-weight: 700;
	font-style: normal;
	font-size: 400%;
	margin-top: 70px;
	color: #E0CEB4;
	margin-bottom: 20px;
}

.aktCardBil {
	max-width: 500px;
}

.aktCard {
	font-size: 200%;
	font-family: "ardoise-narrow-std", sans-serif;
	font-weight: 400;
	font-style: normal;
	background-color: #e0ceb4;
	border: 0;
	padding-bottom: 50px;
}

.cardTitleAkt {
	font-size: 180%;
	font-family: "ardoise-narrow-std", sans-serif;
	font-weight: 400;
	font-style: normal;
}

.coverBillede {
	margin: 0;
	padding: 0;
	width: 110px;
}

.backBtnMere {
	background-color: rgba(31, 55, 94, 0.7) !important;
	margin-top: 30px;
	margin-left: 40px;
	border-radius: 15px;
}

.timeMere {
	font-size: 90px;
	font-family: "ardoise-narrow-std", sans-serif;
	font-weight: 400;
	font-style: normal;
	padding: 3px 20px 10px 20px;
	margin-top: 30px;
	margin-left: 70px;
	border-radius: 15px;
	color: #C7E0ED;
	background-color: rgba(31, 55, 94, 0.7) !important;
}

.line {
	width: 100%;
	margin-bottom: 80px;
}

.aktOverskrift {
	font-family: "blanket", sans-serif;
	font-weight: 700;
	font-style: normal;
	font-size: 600%;
	color: #452d20;
	margin-top: 10px;
}

.beskrivelse {
	font-size: 300%;
	font-family: "ardoise-narrow-std", sans-serif;
	font-weight: 400;
	font-style: normal;
	margin-left: 30px;
	margin-right: 30px;
}

.vejrQr {
	padding-bottom: 40px;
	margin-top: 80px;
}

.qr {
	height: 280px;
	padding-left: 120px;
}

.qr-tekst {
	font-size: 300%;
	font-family: "ardoise-narrow-std", sans-serif;
	font-weight: 400;
	font-style: normal;
	color: #E0CEB4;
}

.vejrKnud {
	height: 380px;
	padding-left: 25px;
}

.vejrKnudTekst {
	font-size: 300%;
	font-family: "ardoise-narrow-std", sans-serif;
	font-weight: 400;
	font-style: normal;
	color: #E0CEB4;
}